parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$plano\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/VerificarPlano.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/VerificarRede.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$atendente_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$fim\.$#'
			identifier: property.notFound
			count: 1
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$inicio\.$#'
			identifier: property.notFound
			count: 1
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$observacoes\.$#'
			identifier: property.notFound
			count: 1
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 4
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Modules/Agenda/Controllers/AgendaController.php

		-
			message: '#^Instanceof between Illuminate\\Support\\Carbon and Carbon\\Carbon will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 5
			path: app/Modules/Caixa/Controllers/CaixaController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Modules\\Despesa\\Models\\Despesa\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Caixa/Services/CaixaService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Modules\\Pagamento\\Models\\Pagamento\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Caixa/Services/CaixaService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Modules/Dashboard/Services/DashboardService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Despesa/Models/Despesa.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Modules/Despesa/Models/ParcelaDespesa.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Modules\\Despesa\\Models\\Despesa\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Despesa/Services/DespesaService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Pagamento/Models/Pagamento.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Modules/Pagamento/Models/ParcelaPagamento.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Modules/Pagamento/Services/PagamentoService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Modules\\Pagamento\\Models\\Pagamento\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Modules/Pagamento/Services/PagamentoService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/Pagamento/Services/PagamentoService.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Modules/PerfilAcesso/Requests/SalvarPerfilAcessoRequest.php

		-
			message: '#^Method App\\Modules\\PerfilAcesso\\Services\\PerfilAcessoService\:\:criar\(\) should return Spatie\\Permission\\Models\\Role but returns Spatie\\Permission\\Contracts\\Role\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/PerfilAcesso/Services/PerfilAcessoService.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: app/Modules/Tenant/Controllers/AssinaturaController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:empresas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Modules/Tenant/Controllers/EmpresaController.php

		-
			message: '#^Parameter \#1 \$rede of method App\\Modules\\Tenant\\Services\\EmpresaService\:\:criar\(\) expects App\\Modules\\Tenant\\Models\\Rede, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Modules/Tenant/Controllers/EmpresaController.php

		-
			message: '#^Parameter \#1 \$rede of method App\\Modules\\Usuario\\Services\\UsuarioService\:\:criar\(\) expects App\\Modules\\Tenant\\Models\\Rede, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Modules/Usuario/Controllers/UsuarioController.php
